<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210266220812-1r4a72tr7j7lv5eh28pjl68tascg3rqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210266220812-1r4a72tr7j7lv5eh28pjl68tascg3rqp</string>
	<key>API_KEY</key>
	<string>AIzaSyCVDWotNetQVvBePjyXxSWxyRTLbuxEpHY</string>
	<key>GCM_SENDER_ID</key>
	<string>210266220812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dePrada.FirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-a3d28</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-a3d28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210266220812:ios:40263719e581c27a3fc129</string>
</dict>
</plist>